{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# le block title dans le squelette sera rempli avec le contenu de ce block #}
{% block title %}Catalogue{% endblock %}

{# le block body dans le squelette sera rempli avec le contenu de ce block #}
{% block body %}

    <div class="container-fluid">

        {# Affichage des messages flashs de type "success" si il y en a #}
        {% include 'partials/flashes/success.html.twig' %}
        {# Affichage des messages flashs de type "error" si il y en a #}
        {% include 'partials/flashes/error.html.twig' %}
        
        {# Titre h1 #}
        <div class="row">
            <h1 class="col-12 text-center my-5">Mes Films et Séries </h1>
        </div>

        <div class="row my-3">
            <div class="col-12 text-center">

                {# Si aucun film/série est suivi#}
                {% if app.user.favoriteMovies is empty and app.user.favoriteSeries %}
                    <p>Vous n'avez pas encore suivi de films ou séries</p>
                {% endif %}

                <h1>Liste des films</h1>
                {% for movie in app.user.favoriteMovies %}
                    <img src="{{movie.poster}}" alt="">
                   <p>Titre : {{movie.title}} </p>
                   <p>Résumé: {{movie.summary}} </p>
                   <p>Type : {{movie.type}} </p>
                   <p>Date de sortie : {{movie.releaseDate|date('d/m/Y')}} </p>
                   <p>Durée : {{movie.duration}} </p>
                   
               {% endfor %}

               <h1>Liste des Série</h1>
               {% for serie in app.user.favoriteSeries %}
                    <img src="{{serie.poster}}" alt="">
                   <p>Titre : {{serie.title}} </p>
                   <p>Résumé: {{serie.summary}} </p>
                   <p>Type : {{serie.type}} </p>
                   
               {% endfor %}
            </div>
        </div>

        

    </div>

{% endblock %}