{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}

    <!--Partie principale avec les cards-->
    <div class="container-fluid d-flex flex-column pt-1 pb-3 main-catalogue">

        {# Titre h1 #}
        <div class="row">
            <h1 class="col-12 text-center my-3 custom-title">Catalogue</h1>
        </div>

        <!--Partie séries-->
        <section class="row shows my-4">

            <div class="col-12 title d-flex justify-content-between">
                <h2 class="h2-simpsons">Series</h2>
                <a href="{{ path('catalogue_serie_list') }}" class="link-view">Voir tout </a>
            </div>

            <div class="card-deck col-12 m-auto">
                {% for serie in series %}
                    <div class="card  white-shadow">
                        <img src="{{ asset(serie.poster)}}" class="card-img-top" alt="jaquette du film">
                        <div class="card-body">
                            <a href="{{ path('catalogue_serie_view', { slug: serie.slug }) }}" title="Voir la fiche technique"><h5 class="card-title">{{ serie.title }}</h5></a>
                            <p class="card-text">{{ serie.summary }}</p>
                            <p class="card-text"><small class="text-muted">Date de commencement : le {{ serie.startYear|date('d/m/Y') }}</small></p>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </section>

        <!--parties films-->
        <section class="row movies my-4">

            <div class="col-12 title d-flex justify-content-between">
                <h2 class="h2-simpsons">Films</h2>
                <a href="{{ path('catalogue_movie_list') }}" class="link-view">Voir tout </a>
            </div>


                <div class="card-deck col-12 m-auto">
                    {% for movie in movies %}
                        <div class="card white-shadow">
                            <img src="{{ asset(movie.poster)}}" class="card-img-top" alt="jaquette de la série">
                            <div class="card-body">
                                <a href="#"  title="Voir la fiche technique"><h5 class="card-title">{{ movie.title }}</h5></a>
                                <!-- <p class="card-text">{{ movie.summary }}</p> -->
                                <p class="card-text"><small class="text-muted">Date de sortie : {{ movie.releaseDate|date('d/m/Y') }}</small></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

        </section>

        <!--Partie Mangas-->
        {# <section class="row mangas pt-5">

            <div class="col-12 title d-flex justify-content-between">
                <h2 class="h2-simpsons">Mangas</h2>
                <a href="{{ path('catalogue_manga_list') }}" class="link-view">Voir tout </a>
            </div>

                <div class="card-deck col-12 m-auto">
                    {% for manga in mangas %}
                        <div class="card  white-shadow">
                            <img src="{{ manga.poster }}" class="card-img-top" alt="attack of titans">
                            <div class="card-body">
                                <a href="{{ path('catalogue_manga_view') }}" title="Voir la fiche technique"><h5 class="card-title">{{ manga.title }}</h5></a>
                                <p class="card-text">{{ manga.summary }}</p>
                                <p class="card-text"><small class="text-muted">Date de commencement : le {{ manga.startYear|date('d/m/Y') }}</small></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

        </section> #}

    </div>
{% endblock %}