{% extends 'base.html.twig' %}

{% block title %}Catalogue des films{% endblock %}

{% block body %}

    <div class="container-fluid body-film">
    {% if movies is empty %}
        <div class="row">
            <p>Aucun film à afficher</p>
        </div>

    {% else %}
        <!--parties films-->
        <section class="row">
            <div class="col-12 text-center p-5">
                <h1>Films</h1>
                <p class="col-12 text-center"><a href="{{ path('catalogue_index') }}">Retour au catalogue</a></p>
            </div>
        </section>

        <section class="row">


            <div class="card-deck col-12">

                {% for movie in movies %}

                    <div class="card">
                        <img src="{{ movie.poster }}" class="card-img-top" alt="Jurassic Park">
                        <div class="card-body">
                            <a href="#" title="Voir la fiche technique"><h5 class="card-title"><bold>{{ movie.title }}</bold></h5></a>
                            <p class="card-text">{{ movie.summary }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12 my-3 text-center">
                    <p class="text-center my-3">
                        {# Création d'un lien permettant de trier par titre #}
                        <span class="mx-2">{{ knp_pagination_sortable(movies, 'Trier par titre', 'a.title') }}</span>
                        {# Création d'un lien permettant de trier par date #}
                        <span class="mx-2">{{ knp_pagination_sortable(movies, 'Trier par Date', 'a.publicationDate') }}</span>
                    </p>
                    <div class="d-inline-block">
                        {{ knp_pagination_render(movies) }}
                    </div>
                </div>
            </div>

        </section>

    {% endif %}






{% endblock %}