{% extends 'base.html.twig' %}

{% block title %}Catalogue des films{% endblock %}

{% block body %}

    <div class="container-fluid main-catalogue">
    {#S'il n'y a pas de films ds la bdd#}
    {% if movies is empty %}
        <div class="row">
            <p>Aucun film à afficher</p>
        </div>
    {#sinon, on les affiche#}
    {% else %}
        <!--titres-->
        <div class="row no-margin">
            <div class="col-12 text-center p-5">
                <h1 class="custom-title">Films</h1>
                <p class="col-12 text-center harryP"><a href="{{ path('catalogue_index') }}">Retour au catalogue</a></p>
            </div>
        </div>

        <!--Partie principal: cards de films-->
        <div class="row row-cols-1 row-cols-md-3 no-margin">
            {% for movie in movies %}
                <div class="col mb-4">
                    <div class="card h-100 white-shadow">
                        <img src="{{ asset(movie.poster) }}" class="card-img-top" alt="jaquette du film">
                        <div class="card-body">
                            <a href="#" title="Voir la fiche technique"><h5 class="card-title">{{ movie.title }}</h5></a>
                            <p class="card-text">{{ movie.summary }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12 my-3 text-center">
                    <p class="text-center my-3">
                        {# Création d'un lien permettant de trier par titre #}
                        <span class="mx-2">{{ knp_pagination_sortable(movies, 'Trier par titre', 'a.title') }}</span>
                        {# Création d'un lien permettant de trier par date #}
                        <span class="mx-2">{{ knp_pagination_sortable(movies, 'Trier par Date', 'a.publicationDate') }}</span>
                    </p>
                    <div class="d-inline-block">
                        {{ knp_pagination_render(movies) }}
                    </div>
                </div>
            </div>

        </div>

    {% endif %}






{% endblock %}